body {
    overflow-x: hidden;
}

.error {
    position: absolute;
    top: 170%;
    left: 10%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    width: 285px;
}

.msg {
    position: absolute;
    top: 170%;
    left: 10%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    width: 285px;
}

.custom-footer {
    text-align: left;
    position: absolute;
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0px 15px;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: rgba(176, 176, 176, 0.91);
    opacity: 0.90;
    z-index: 9999;
    font-weight: bold;
    font-size: 13pt;
    cursor: default;
}

*.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: default;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

/* sidebar settings */
.sidebar {
    position: fixed;
    display: block;
    top: 51px;
    bottom: 0;
    z-index: 100;
    min-height: 100%;
    max-height: none;
    overflow: auto;
    padding: 20px;
    background-color: #F7F7F7;
    border-right: 1px solid #D1D1D1;
}

.sidebar-left {
    left: 0;
}

.sidebar-right {

}

/* css to override hiding the sidebar according to different screen sizes */
.sidebar.sidebar-left.sidebar-xs-show {
    left: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
}

/*right sidebar is untested */
.sidebar-right.sidebar-xs-show {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
}

@media (min-width: 768px) {
    .sidebar.sidebar-left.sidebar-sm-show {
        left: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    /*right sidebar is untested */
    .sidebar-right.sidebar-sm-show {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@media (min-width: 992px) {
    .sidebar.sidebar-left.sidebar-md-show {
        left: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .sidebar-right.sidebar-md-show {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@media (min-width: 1170px) {
    .sidebar.sidebar-left.sidebar-lg-show {
        left: 0;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .sidebar-right.sidebar-lg-show {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

/* animation class - optional: without it the sidebar would just pop in and out*/
.sidebar-animate {
    -webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
}

/* Left panel positioning classes */
.sidebar.sidebar-left {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.sidebar.sidebar-left.sidebar-open {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

/* TODO: TEST THIS! Right panel positioning classes*/
.sidebar-right {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.sidebar-right.sidebar-open {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.staron {
    text-decoration: none;
    width: 20px;
    height: 25px;
    background: url("../img/projectStar_on.png") center;

}

.staroff {
    text-decoration: none;
    width: 20px;
    height: 25px;
    background: url("../img/projectStar_off.png") center;
}

.count-circle-middle, .count-rounded-middle {
    top: 12%;
}

.count-circle {
    position: absolute;
    top: 34%;
    right: -17%;
    font-size: 10px;
    font-weight: 800;
    background: rgba(41, 200, 41, 0.9);
    color: rgb(255, 255, 255);
    line-height: 1em;
    padding: 3px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    z-index: 400;
}

.count-circle-red {
    background: rgba(200, 41, 41, 0.9);
}

.slide-up {
    animation-name: slide-up;
    -webkit-animation-name: slide-up;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mini {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.medium {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.maxi {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.icon-animated-bell {
    display: inline-block;
    -moz-animation: ringing 2s 5 ease 1s;
    -webkit-animation: ringing 2s 5 ease 1s;
    -o-animation: ringing 2s 5 ease 1s;
    -ms-animation: ringing 2s 5 ease 1s;
    animation: ringing 2s 5 ease 1s;
    -moz-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

@-moz-keyframes ringing {
    0% {
        -moz-transform: rotate(-15deg)
    }
    2% {
        -moz-transform: rotate(15deg)
    }
    4% {
        -moz-transform: rotate(-18deg)
    }
    6% {
        -moz-transform: rotate(18deg)
    }
    8% {
        -moz-transform: rotate(-22deg)
    }
    10% {
        -moz-transform: rotate(22deg)
    }
    12% {
        -moz-transform: rotate(-18deg)
    }
    14% {
        -moz-transform: rotate(18deg)
    }
    16% {
        -moz-transform: rotate(-12deg)
    }
    18% {
        -moz-transform: rotate(12deg)
    }
    20% {
        -moz-transform: rotate(0deg)
    }
}

@-webkit-keyframes ringing {
    0% {
        -webkit-transform: rotate(-15deg)
    }
    2% {
        -webkit-transform: rotate(15deg)
    }
    4% {
        -webkit-transform: rotate(-18deg)
    }
    6% {
        -webkit-transform: rotate(18deg)
    }
    8% {
        -webkit-transform: rotate(-22deg)
    }
    10% {
        -webkit-transform: rotate(22deg)
    }
    12% {
        -webkit-transform: rotate(-18deg)
    }
    14% {
        -webkit-transform: rotate(18deg)
    }
    16% {
        -webkit-transform: rotate(-12deg)
    }
    18% {
        -webkit-transform: rotate(12deg)
    }
    20% {
        -webkit-transform: rotate(0deg)
    }
}

@-ms-keyframes ringing {
    0% {
        -ms-transform: rotate(-15deg)
    }
    2% {
        -ms-transform: rotate(15deg)
    }
    4% {
        -ms-transform: rotate(-18deg)
    }
    6% {
        -ms-transform: rotate(18deg)
    }
    8% {
        -ms-transform: rotate(-22deg)
    }
    10% {
        -ms-transform: rotate(22deg)
    }
    12% {
        -ms-transform: rotate(-18deg)
    }
    14% {
        -ms-transform: rotate(18deg)
    }
    16% {
        -ms-transform: rotate(-12deg)
    }
    18% {
        -ms-transform: rotate(12deg)
    }
    20% {
        -ms-transform: rotate(0deg)
    }
}

@keyframes ringing {
    0% {
        transform: rotate(-15deg)
    }
    2% {
        transform: rotate(15deg)
    }
    4% {
        transform: rotate(-18deg)
    }
    6% {
        transform: rotate(18deg)
    }
    8% {
        transform: rotate(-22deg)
    }
    10% {
        transform: rotate(22deg)
    }
    12% {
        transform: rotate(-18deg)
    }
    14% {
        transform: rotate(18deg)
    }
    16% {
        transform: rotate(-12deg)
    }
    18% {
        transform: rotate(12deg)
    }
    20% {
        transform: rotate(0deg)
    }
}

.icon-animated-vertical {
    display: inline-block;
    -moz-animation: vertical 2s 5 ease 2s;
    -webkit-animation: vertical 2s 5 ease 2s;
    -o-animation: vertical 2s 5 ease 2s;
    -ms-animation: vertical 2s 5 ease 2s;
    animation: vertical 2s 5 ease 2s
}

@-moz-keyframes vertical {
    0% {
        -moz-transform: translate(0, -3px)
    }
    4% {
        -moz-transform: translate(0, 3px)
    }
    8% {
        -moz-transform: translate(0, -3px)
    }
    12% {
        -moz-transform: translate(0, 3px)
    }
    16% {
        -moz-transform: translate(0, -3px)
    }
    20% {
        -moz-transform: translate(0, 3px)
    }
    22% {
        -moz-transform: translate(0, 0)
    }
}

@-webkit-keyframes vertical {
    0% {
        -webkit-transform: translate(0, -3px)
    }
    4% {
        -webkit-transform: translate(0, 3px)
    }
    8% {
        -webkit-transform: translate(0, -3px)
    }
    12% {
        -webkit-transform: translate(0, 3px)
    }
    16% {
        -webkit-transform: translate(0, -3px)
    }
    20% {
        -webkit-transform: translate(0, 3px)
    }
    22% {
        -webkit-transform: translate(0, 0)
    }
}

@-ms-keyframes vertical {
    0% {
        -ms-transform: translate(0, -3px)
    }
    4% {
        -ms-transform: translate(0, 3px)
    }
    8% {
        -ms-transform: translate(0, -3px)
    }
    12% {
        -ms-transform: translate(0, 3px)
    }
    16% {
        -ms-transform: translate(0, -3px)
    }
    20% {
        -ms-transform: translate(0, 3px)
    }
    22% {
        -ms-transform: translate(0, 0)
    }
}

@keyframes vertical {
    0% {
        transform: translate(0, -3px)
    }
    4% {
        transform: translate(0, 3px)
    }
    8% {
        transform: translate(0, -3px)
    }
    12% {
        transform: translate(0, 3px)
    }
    16% {
        transform: translate(0, -3px)
    }
    20% {
        transform: translate(0, 3px)
    }
    22% {
        transform: translate(0, 0)
    }
}

.dropdown-navbar .msg-body {
    display: block;
    line-height: 20px;
    white-space: normal;
    vertical-align: middle;
    margin-left: 50px;
}

.scroll-content {
    position: static;
    overflow: hidden;
}

.scroll-track.scroll-active {
    -webkit-transition: width .25s ease .75s, opacity .25s ease .75s;
    -o-transition: width .25s ease .75s, opacity .25s ease .75s;
    transition: width .25s ease .75s, opacity .25s ease .75s;
}

.scroll-track {
    position: absolute;
    top: auto;
    bottom: auto;
    right: 0;
    height: auto;
    background-color: #E7E7E7;
    z-index: 99;
    width: 0;
    opacity: 0;
}

.green {
    color: #397937;
    font-size: 13pt;
}

span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
}

span.app-title {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    line-height: 40px;
    margin-right: 10px;
    font-weight: bold;
}

span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
}

span.app-title {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    line-height: 40px;
    margin-right: 10px;
    font-weight: bold;
}

.modal-header {
    background-color: #1f4982 !important;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    color: #ffffff;
}

.modal-header .close {
    margin-top: -6px;
    color: #FFFFFF;
    font-weight: 200;
    font-size: 24pt;
}

.modal-footer {
    background-color: rgba(232, 232, 232, 0.35) !important;
}

.btn-primary {
    color: #fff;
    background-color: #1f4982;
    border-color: #1f3e77;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #1f456b;
}

.btn-success {
    color: #fff;
    background-color: #38A638;
    border-color: #4cae4c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a:active {
    background-color: #3D68A3;
}

.navbar-nav .open > a,
.navbar-nav .open > a:focus,
.navbar-nav .open > a:hover,
.navbar-nav > li.active {
    background-color: #3D68A3;
    border-color: #337ab7;
}

#scrollUp {
    background-image: url("../img/top_grey.png");
    bottom: 45px;
    right: 25px;
    width: 38px;
    height: 38px;
}

#scrollUp:hover {
    background-image: url("../img/top_grey-hover.png");
    bottom: 45px;
    right: 25px;
    width: 38px;
    height: 38px;
}

.navbar-inverse {
    background-color: rgba(62, 62, 62, 0.91);
    border-color: #2f2f2f;
}

.navbar-rain {
    background-color: #1f4982;
    border-color: #203162;
}

.navbar-nav > li > a {
    color: white;
}

.nav-tabs > li > a {
    font-weight: bold;
}

.text-danger {
    font-weight: bold;
}

textarea {
    max-width: 100%;
    max-height: 300px;
}

.infobox {
    background-color: #cadef9;
    width: 35%;
    position: absolute;
    right: 6%;
    bottom: 15%;
}

.content-hr {
    margin-top: 35px;
}

.chosen-container-single .chosen-single {
    height: 30px;
}

.chosen-container-single .chosen-single div b {
    background: url('../img/chosen-sprite.png') no-repeat 0 4px;
}

.chosen-container-single .chosen-single abbr {
    background: url('../img/chosen-sprite.png') -42px 3px no-repeat;
}

.chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -9px;
}

.chosen-container-single .chosen-single-with-deselect span {
    padding: 3px;
}

.chosen-container-single .chosen-single span {
    padding: 3px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: -42px -11px;
}

.chosen-container-multi .chosen-choices {
    border-radius: 3px;
}

.chosen-container-multi .chosen-choices li.search-field {
    font-size: 12px;
    margin-right: 0;
    padding: 0.5px 6px;
    white-space: nowrap;
}

.dropdown-header {
    font-size: 14px;
    font-weight: bold;
    color: #515050;
}

.jumbotron {
    padding: 40px;
    background-color: rgba(232, 235, 236, 0.51);
    border-top: 1px solid gray;
    border-left: 1px solid rgb(199, 193, 193);
    border-radius: .5em;
    -moz-box-shadow: 0.1em 0.1em 0 0.1em rgba(14, 129, 27, 0.66);
    -webkit-box-shadow: 0.1em 0.1em 0 0.1em rgba(14, 129, 27, 0.66);
    box-shadow: 0.1em 0.1em 0 0.1em rgba(14, 129, 27, 0.66);
}

.dashboard-jumbotron {
    background-color: rgba(232, 235, 236, 0.51);
    border-top: 1px solid gray;
    border-left: 1px solid rgb(199, 193, 193);
    border-radius: .5em;
    -moz-box-shadow: 0.1em 0.1em 0 0.1em rgba(14, 129, 27, 0.66);
    -webkit-box-shadow: 0.1em 0.1em 0 0.1em rgba(14, 129, 27, 0.66);
    box-shadow: 0.1em 0.1em 0 0.1em rgba(14, 129, 27, 0.66);
    padding: 10px;
    position: absolute;
    width: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.text-muted {
    color: #777 !important;
}

.container-modal {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.input-sm {
    padding: 5px 10px;
}

.dropzone {
    cursor: pointer;
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    box-sizing: border-box;
    padding: 54px 54px;
}

.toast-title {
    font-weight: bold;
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.toast-message a,
.toast-message label {
    color: #ffffff;
}

.toast-message a:hover {
    color: #cccccc;
    text-decoration: none;
}

.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}

.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.toast-top-center {
    top: 60px;
    right: 0;
    width: 100%;
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 12px;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

#toast-container {
    position: fixed;
    z-index: 999999;
    /*overrides*/
}

#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#toast-container > div {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #ffffff;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}

#toast-container > :hover {
    -moz-box-shadow: 0 0 12px #000000;
    -webkit-box-shadow: 0 0 12px #000000;
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
}

#toast-container > .toast-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

#toast-container > .toast-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
    width: 300px;
    margin: auto;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    width: 96%;
    margin: auto;
}

.toast {
    background-color: #030303;
}

.toast-success {
    background-color: #51a351;
}

.toast-error {
    background-color: #bd362f;
}

.toast-info {
    background-color: #2f96b4;
}

.toast-warning {
    background-color: #f89406;
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}

/*Responsive Design*/
@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }

    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}

@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }

    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
}

/*todolist*/

#sortable {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
}

#sortable li {
    padding-left: 3em;
    font-size: 12px;
}

#sortable li i {
    position: absolute;
    left: 6px;
    padding: 4px 10px 0 10px;
    cursor: pointer;
}

#sortable li input[type=checkbox] {
    margin-top: 0;
}

.ui-sortable > li {
    padding: 15px 0 15px 35px !important;
    position: relative;
    background: #f5f6f8;
    margin-bottom: 2px;
    border-bottom: none !important;
}

.ui-sortable li.list-primary {
    border-left: 3px solid #41CAC0;
}

.ui-sortable li.list-success {
    border-left: 3px solid #78CD51;
}

.ui-sortable li.list-danger {
    border-left: 3px solid #FF6C60;
}

.ui-sortable li.list-warning {
    border-left: 3px solid #F1C500;
}

.ui-sortable li.list-info {
    border-left: 3px solid #58C9F3;
}

.ui-sortable li.list-inverse {
    border-left: 3px solid #BEC3C7;
}

/*--------------Tasks Widget--------------*/

.task-content {
    margin-bottom: 30px;
}

.tasks-widget .task-content:after {
    clear: both;
}

.tasks-widget .task-footer {
    margin-top: 5px;
}

.tasks-widget .task-footer:after,
.tasks-widget .task-footer:before {
    content: "";
    display: table;
    line-height: 0;
}

.tasks-widget .task-footer:after {
    clear: both;
}

.tasks-widget .task-list {
    padding: 0;
    margin: 0;
}

.tasks-widget .task-list > li {
    position: relative;
    padding: 10px 5px;
    border-bottom: 1px dashed #eaeaea;
}

.tasks-widget .task-list li.last-line {
    border-bottom: none;
}

.tasks-widget .task-list li > .task-bell {
    margin-left: 10px;
}

.tasks-widget .task-list li > .task-checkbox {
    float: left;
    width: 30px;
}

.tasks-widget .task-list li > .task-title {
    overflow: hidden;
    margin-right: 10px;
}

.tasks-widget .task-list li > .task-config {
    position: absolute;
    top: 10px;
    right: 10px;
}

.tasks-widget .task-list li .task-title .task-title-sp {
    margin-right: 5px;
}

.tasks-widget .task-list li.task-done .task-title-sp {
    text-decoration: line-through;
    color: #bbbbbb;
}

.tasks-widget .task-list li.task-done {
    background: #f6f6f6;
}

.tasks-widget .task-list li.task-done:hover {
    background: #f4f4f4;
}

.tasks-widget .task-list li:hover {
    background: #f9f9f9;
}

.tasks-widget .task-list li .task-config {
    display: none;
}

.tasks-widget .task-list li:hover > .task-config {
    display: block;
    margin-bottom: 0 !important;
}

@media only screen and (max-width: 320px) {

    .tasks-widget .task-config-btn {
        float: inherit;
        display: block;
    }

    .tasks-widget .task-list-projects li > .label {
        margin-bottom: 5px;
    }

}

/*Directory Styles*/

.directory-list, .directory-info-row .social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.directory-list li {
    border-left: 3px solid #f1f2f7;
    display: table-cell;
    width: 1%;
}

.directory-list li a {
    display: block;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    color: #7A7676;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.directory-list li a:hover, .directory-info-row .social-links li a:hover {
    background: #ff6c60;
    color: #fff;
}

.directory-info-row {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.directory-info-row .social-links {
    display: inline-block;
    margin-bottom: 10px;
}

.directory-info-row .social-links li {
    display: inline-block;
}

.directory-info-row .social-links li a {
    background: #EFF0F4;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #7A7676;
}

.directory-info-row h4, .directory-info-row a {
    color: #424F63;
}

.directory-info-row .thumb {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: auto;
    width: 175px;
    margin-right: 10px;
}

.panel {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
    background-color: #fff;
}

.dashboard-panel {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
    -webkit-filter: drop-shadow(0 0 1px #707070);
    margin: 20px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.dashboard-panel-body {
    width: 100%;
}

.dashboard-thumb {
    width: 90px;
    float: left;
    margin-bottom: 5px;
    margin: 10px;
}

.dashboard-thumb-details {
    display: inline-block;
    margin: 25px 0 0 10px;
}

.dashboard-thumb-details h1, .dashboard-thumb-details h1 a, .dashboard-progress h1, .dashboard-progress h1 a {
    color: #39b5aa;
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.dashboard-thumb-details p, .task-progress p {
    padding-top: 5px;
    color: #a4aaba;
    font-size: 13px;
}

.dashboard-task {
    margin-top: 26px;
}

.progress-bar-default {
    background-image: -webkit-linear-gradient(top, #909090 0%, #6c6c6c 100%);
    background-image: -o-linear-gradient(top, #909090 0%, #6c6c6c 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#909090), to(#6c6c6c));
    background-image: linear-gradient(to bottom, #909090 0%, #6c6c6c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
    background-repeat: repeat-x;
}

.panel-body {
    padding: 10px;
}

.progress {
    margin-bottom: 2px;
}

.has-error > .chosen-container {
    border: 1px solid #a94442;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-bottom-color: transparent;
}

.project-item {
    /*padding: 5px;*/
    /*margin: 8px;*/
    /*-webkit-filter: drop-shadow(0 0 1px #aeaeae);*/
}

.project-item:hover {
    background-color: #f5f5f5;

}

.project-item-selected {
    background-color: #ececec;
}

.dropdown-carret {
    background-color: transparent !important;
    border-color: transparent !important;
    cursor: pointer;
}

.proiect-date {
    color: black;
}

.proiect-date:before {
    font-weight: 700;
    color: white;
}

.popover-right-column {
    float: right;
    margin: 2px;
    min-width: 100px;
}

.popover-left-column {
    float: left;
    margin: 2px;
}

.popover {
    max-width: 500px;
}

.popover-options {
    list-style: none;
    padding: 2px;
    cursor: pointer;
}

.popover-options li:hover {
    background-color: #f5f5f5;
}

.popover-options li {
    padding: 5px;
}

.popover-options a {
    color: #080808;
    text-decoration: none;
}

ul.popover-options > li > a:hover {
    font-weight: bolder;
}

a.dropdown-carret:focus {
    outline: none;
    outline-offset: 0;
}

.webui-popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    width: 276px;
    min-height: 32px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.webui-popover.top,
.webui-popover.top-left,
.webui-popover.top-right {
    margin-top: -10px;
}

.webui-popover.right,
.webui-popover.right-top,
.webui-popover.right-bottom {
    margin-left: 10px;
}

.webui-popover.bottom,
.webui-popover.bottom-left,
.webui-popover.bottom-right {
    margin-top: 10px;
}

.webui-popover.left,
.webui-popover.left-top,
.webui-popover.left-bottom {
    margin-left: -10px;
}

.webui-popover.pop {
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
}

.webui-popover.fade {
    transition: opacity .15s linear;
}

.webui-popover.in {
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;
}

.webui-popover-inner .close {
    font-family: arial;
    margin: 5px 10px 0 0;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    text-decoration: none;
}

.webui-popover-inner .close:hover,
.webui-popover-inner .close:focus {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.webui-popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 5px 5px 0 0;
}

.webui-popover-content {
    padding: 9px 14px;
    overflow: auto;
}

.webui-popover-inverse {
    background-color: #333333;
    color: #eeeeee;
}

.webui-popover-inverse .webui-popover-title {
    background: #333333;
    border-bottom: 1px solid #3b3b3b;
    color: #eeeeee;
}

.webui-no-padding .webui-popover-content {
    padding: 0;
}

.webui-no-padding .list-group-item {
    border-right: none;
    border-left: none;
}

.webui-no-padding .list-group-item:first-child {
    border-top: 0;
}

.webui-no-padding .list-group-item:last-child {
    border-bottom: 0;
}

.webui-popover > .arrow,
.webui-popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.webui-popover > .arrow {
    border-width: 11px;
}

.webui-popover > .arrow:after {
    border-width: 10px;
    content: "";
}

.webui-popover.top > .arrow,
.webui-popover.top-right > .arrow,
.webui-popover.top-left > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999999;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 0;
}

.webui-popover.top > .arrow:after,
.webui-popover.top-right > .arrow:after,
.webui-popover.top-left > .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-top-color: #ffffff;
    border-bottom-width: 0;
}

.webui-popover.right > .arrow,
.webui-popover.right-top > .arrow,
.webui-popover.right-bottom > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999999;
    border-right-color: rgba(0, 0, 0, 0.25);
}

.webui-popover.right > .arrow:after,
.webui-popover.right-top > .arrow:after,
.webui-popover.right-bottom > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #ffffff;
}

.webui-popover.bottom > .arrow,
.webui-popover.bottom-right > .arrow,
.webui-popover.bottom-left > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #999999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-top-width: 0;
}

.webui-popover.bottom > .arrow:after,
.webui-popover.bottom-right > .arrow:after,
.webui-popover.bottom-left > .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-bottom-color: #ffffff;
    border-top-width: 0;
}

.webui-popover.left > .arrow,
.webui-popover.left-top > .arrow,
.webui-popover.left-bottom > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999999;
    border-left-color: rgba(0, 0, 0, 0.25);
}

.webui-popover.left > .arrow:after,
.webui-popover.left-top > .arrow:after,
.webui-popover.left-bottom > .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #ffffff;
    bottom: -10px;
}

.webui-popover-inverse.top > .arrow,
.webui-popover-inverse.top-left > .arrow,
.webui-popover-inverse.top-right > .arrow,
.webui-popover-inverse.top > .arrow:after,
.webui-popover-inverse.top-left > .arrow:after,
.webui-popover-inverse.top-right > .arrow:after {
    border-top-color: #333333;
}

.webui-popover-inverse.right > .arrow,
.webui-popover-inverse.right-top > .arrow,
.webui-popover-inverse.right-bottom > .arrow,
.webui-popover-inverse.right > .arrow:after,
.webui-popover-inverse.right-top > .arrow:after,
.webui-popover-inverse.right-bottom > .arrow:after {
    border-right-color: #333333;
}

.webui-popover-inverse.bottom > .arrow,
.webui-popover-inverse.bottom-left > .arrow,
.webui-popover-inverse.bottom-right > .arrow,
.webui-popover-inverse.bottom > .arrow:after,
.webui-popover-inverse.bottom-left > .arrow:after,
.webui-popover-inverse.bottom-right > .arrow:after {
    border-bottom-color: #333333;
}

.webui-popover-inverse.left > .arrow,
.webui-popover-inverse.left-top > .arrow,
.webui-popover-inverse.left-bottom > .arrow,
.webui-popover-inverse.left > .arrow:after,
.webui-popover-inverse.left-top > .arrow:after,
.webui-popover-inverse.left-bottom > .arrow:after {
    border-left-color: #333333;
}

.webui-popover i.icon-refresh:before {
    content: "";
}

.webui-popover i.icon-refresh {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -15px;
    margin-right: -15px;
    background: url(../img/ajax-loader.gif) no-repeat;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.logo {
    height: 55px;
    width: auto;
    display: inline;
    -webkit-filter: drop-shadow(0 0 2px #000000);
}

.container-raindrop {
    padding-right: 55px;
    padding-left: 55px;
    margin-right: auto;
    margin-left: auto;
}

.form-link {
    position: relative;
    top: -8px;
    left: 5px;
}

/*right side bar*/

.sb-slidebar {
    background-color: rgba(42, 53, 66, 1) !important;
    color: #aeb2b7;
}

.sb-slidebar .side-title {
    padding: 10px 15px;
    text-transform: uppercase;
    color: #FF6C60;
}

.quick-chat-list {
    margin-bottom: 20px;
}

.quick-chat-list:last-child {
    /*padding: 0;*/
    padding-bottom: 50px;

}

.quick-chat-list li {
    padding: 10px 15px;
    border-bottom: 1px dashed #35404d;
    cursor: pointer;
}

.quick-chat-list li:hover {
    background: #35404d;
}

.quick-chat-list li .media-object {
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.media .media-status {
    display: inline-block;
    margin-top: 10px;
    position: absolute;
    right: 10px;
}

.media .media-body small {
    display: block;
}

.quick-chat-list .media .media-object {
    width: 40px;
    height: 40px;
}

.p-task {
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.p-task li {
    padding: 10px 15px 15px 15px;
    border-bottom: 1px dashed #35404d;
}

.p-task li:last-child {
    padding: 10px 15px 15px 15px;
    border-bottom: none;
}

.p-task li a {
    color: #aeb2b7;
}

.p-task.tasks-bar .task-info .percent {
    display: inline-block;
    float: right;
    font-size: 12px;
    margin-top: -15px;
}

.p-task .progress {
    height: 10px;
    margin-top: 5px;
    margin-bottom: 0;
}

.p-task .external a {
    color: #40cabe;
}

.p-task .external a:hover {
    color: #FF6C60;
}

.rain-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .rain-container {
        width: 950px;
        min-height: 500px;
    }
}

@media (min-width: 992px) {
    .rain-container {
        width: 1170px;
        min-height: 700px;
    }
}

@media (min-width: 1200px) {
    .rain-container {
        width: 1370px;
        min-height: 800px;
    }
}

.table-badge {
    text-align: center;
}

.proiect-nume {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.popup-marker {
    text-decoration: none;
    color: black;
    font-size: 15px;
    cursor: pointer;
}

.datepicker {
    padding: 20px;
    z-index: 2000;
}

.table-hover > tbody > tr:hover {
    background-color: rgba(212, 225, 237, 0.28);
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
    cursor: pointer;
}

.DTTT_container {
    float: right;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.project-progress {
    background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
    background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
    height: 15px;
    margin-top: 10px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 2.5px;
}

.project-progress-bar {
    line-height: 15px;
}

.fa-5x {
    font-size: 5em;
}

.fa-20x {
    font-size: 20em;
}

.spinner-dialog {
    width: 115px;
}

.search-box {
    margin: 20px 0 10px;
}

.sidebar-button {
    float: right;
    margin: 15px -2px;
}

.text-table-head {
    color: #31708f;
    font-weight: bold;
    font-size: 12pt;
}

@media (min-width: 992px) {
    .modal-xlg {
        width: 1200px;
    }

    .modal-mlg {
        width: 1000px;
    }
}

.text-bold {
    font-weight: bold;
}

.full-width {
    width: 100%;
}

#map-canvas-container {
    height: 100%;
    margin: 0;
    padding: 0;
}

.loc-popover {
    width: 100%;
    height: 95%;
}

.map-popup-marker {
    cursor: pointer;
    text-decoration: none;
}

.map-popup-marker:hover {
    cursor: pointer;
    text-decoration: none !important;
}

.small-dropzone {
    position: absolute;
    top: 30px;
    right: 0;
}

.image-message {
    display: block;
}

.bg-infobox {
    background-color: #cadef9;
}

.image-message h4 {
    font-size: 15px;
}

.error_message {
    font-size: 12px;
}

.dataTables_wrapper  {
    margin-bottom: 100px;
}

.infobox-profile {
    position: absolute;
    right: 6%;
    bottom: 8%;
}

input[type=file] {
    display: inline;
}

.file-input-wrapper {
    max-width: 80%;
    margin: 10px;
}

.fa-1-5x {
    font-size: 1.5em;
}

form {
    margin-bottom: 0;
}

.location-picker {
    width: 525px;
    height: 300px;
    left: 17px;
}

.pac-container {
    background-color: #FFF;
    z-index: 6000 !important;
    position: fixed;
    display: inline-block;
    float: left;
}

.login-logo {
    height: 35px;
}

.selected {
    background-color: lightskyblue;
}

.selected:hover {
    background-color: rgba(135, 206, 250, 0.66) !important;
}

.break-word {
    word-break: break-all;
    word-wrap: break-word;
}
