body {
    padding-top: 40px;
    padding-bottom: 40px;
    /*background-color: #eee;*/
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#login-form {
    width: 330px !important;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    left: 35px;
}
.custom-body {
    background: url("/img/login-background.jpg");
    -webkit-transition: opacity .3, left .3s, top .3s;
    -moz-transition: opacity .3, left .3s, top .3s;
    -o-transition: opacity .3, left .3s, top .3s;
    transition: opacity .3, left .3s, top .3s;
    color: #000;
    font-size: 14px ;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}


h1{ font-size:28px;}
h2{ font-size:26px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
h1,h2,h3,h4,h5,h6{ color:#563D64;}
small{ font-size:10px;}
b, strong{ font-weight:bold;}
a{ text-decoration: none; }
a:hover{ text-decoration: underline; }
.left { float:left; }
.right { float:right; }
.alignleft { float: left; margin-right: 15px; }
.alignright { float: right; margin-left: 15px; }
form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.container-login { margin: 25px auto; position: relative; width: 900px; }
#content {
    background: #8fc1f2;
    background: -moz-linear-gradient(top, rgba(245, 243, 222, 0.65) 0%, rgb(255, 253, 232) 100%);
    background: -webkit-linear-gradient(top, rgba(245, 243, 222, 0.65) 0%, rgb(255, 253, 232) 100%);
    background: -o-linear-gradient(top, rgba(245, 243, 222, 0.65) 0%, rgb(255, 253, 232) 100%);
    background: -ms-linear-gradient(top, rgba(245, 243, 222, 0.65) 0%, rgb(255, 253, 232) 100%);
    background: linear-gradient(top, rgba(245, 243, 222, 0.64) 0%, rgb(255, 253, 232) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    -ms-box-shadow:0 3px 9px rgba(0, 0, 0, .5);
    -o-box-shadow:0 3px 9px rgba(0, 0, 0, .5);
    border: 1px solid #c4c6ca;
    border-radius: 6px;
    margin: 0 auto;
    padding: 25px 0 0;
    position: absolute;
    top: 10%;
    left: 15%;
    height: 450px;
    text-align: center;
    text-shadow: 0 1px 0 #f6f6f6;
    width: 400px;
    opacity: 0.92;
}
#content h1 {
    color: #7E7E7E;
    font: bold 25px Verdana, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}
#content h1:before,
#content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 9%;
}
#content h1:after {
    background-color: rgb(126,126,126);
    right: 0;
}
#content h1:before {
    background-color: rgb(136,136,136);
    left: 0;
}
#content:after,
#content:before {

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    -ms-box-shadow:0 3px 9px rgba(0, 0, 0, .5);
    -o-box-shadow:0 3px 9px rgba(0, 0, 0, .5);
    border: 1px solid #c4c6ca;
    border-radius: 6px;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}
#content:after {
    background: #cfcfcf;
    background: -moz-linear-gradient(top, rgb(230, 230, 230) 0%, rgba(249,249,249,1) 90%);
    background: -webkit-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(249,249,249,1) 90%);
    background: -o-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(249,249,249,1) 90%);
    background: -ms-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(249,249,249,1) 90%);
    background: linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(249,249,249,1) 90%);
    /*-webkit-transform: rotate(1deg);*/
    /*-moz-transform: rotate(1deg);*/
    /*-ms-transform: rotate(1deg);*/
    /*-o-transform: rotate(1deg);*/
    /*transform: rotate(1deg);*/
    top: 0;
    z-index: -1;
}

#content:before {
    background: #d4d4d4;
    background: -moz-linear-gradient(bottom,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 90%);
    background: -webkit-linear-gradient(bottom,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 90%);
    background: -o-linear-gradient(bottom,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 90%);
    background: -ms-linear-gradient(bottom,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 90%);
    background: linear-gradient(bottom,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 90%);
    /*-webkit-transform: rotate(-3deg);*/
    /*-moz-transform: rotate(-3deg);*/
    /*-ms-transform: rotate(-3deg);*/
    /*-o-transform: rotate(-3deg);*/
    /*transform: rotate(-3deg);*/
    top: 0;
    z-index: -2;
}

#content form { margin: 0 20px; position: relative }
#content form input[type="text"],
#content form input[type="password"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 80%;
}
#content form input[type="text"]:focus,
#content form input[type="password"]:focus {
    -webkit-box-shadow: 0 0 2px #777 inset;
    -moz-box-shadow: 0 0 2px #777 inset;
    -ms-box-shadow: 0 0 2px #777 inset;
    -o-box-shadow: 0 0 2px #777 inset;
    box-shadow: 0 0 2px #777 inset;
    background-color: #fff;
    border: 1px solid #777;
    outline: none;
}
#username {
    background-position: 3px 7px !important;
    position: absolute;
    top: 145px;
    left: 35px;
}
#password {
    background-position: 3px -56px !important;
    position: absolute;
    top: 195px;
    left: 35px;
}
#content form div a {
    color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}
.button {
    background: rgb(247,249,250);
    background: -moz-linear-gradient(top,  rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
    background: -o-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
    background: -ms-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
    background: linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0',GradientType=0 );
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CFD5D9;
    padding: 15px 0;
}
.button a {
    background: url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
    color: #7E7E7E;
    font-size: 17px;
    padding: 2px 0 2px 40px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.button a:hover {
    background-position: 0 -135px;
    color: #00aeef;
}

#btnLogin {
    position: absolute;
    top: 250px;
    left: 35px;
    width: 288px;
}

.lost-pass {
    position: absolute;
    left: 10%;
    top: 580%;
    width: 288px;
}
.lefta {
    float: left !important;
}
.righta {
    float: right !important;
}

